<!DOCTYPE html>
<html>
<head>
    <title>Resultados da Pesquisa</title>
</head>
<body>
    <h1>Resultados da Pesquisa</h1>
    <ul>
        {% for produto in produtos %}
            <li>
                <a href="{{ produto.3 }}" target="_blank"> <!-- Adicione o link com a variável produto.3 -->
                    <img src="{{ produto.2 }}" alt="{{ produto.0 }}" width="160" height="160">
                    <p>Produto: {{ produto.0 }}</p>
                    <p>Preço: R$ {{ produto.1|floatformat:2 }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
